* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: black; /* Space theme background */
    color: lime; /* Spacey green text */
    font-family: 'Orbitron', sans-serif;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}